/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.App {
  background-image: url('../public/images/bg.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
  width: auto;
  height: auto;
  max-width: 90%; /* Adjust to fit within the screen */
  max-height: 95%; /* Adjust to fit within the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-center h1,
.text-center p {
  color: white;
}
