body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.App {
  background-image: url('../public/images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.container {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 15px;
  width: 70%;
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.scoreboard {
  background-color: rgba(0, 0, 0, 0.85); 
  padding: 20px;
  border-radius: 15px; 
  width: 25%;
  height: 99%;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white; 
}

.text-center h1,
.text-center p {
  color: white;
  margin: 10px 0; 
}

.flex.justify-around.items-center > div {
  flex: 1;
  text-align: center;
}

@keyframes flash {
  0% { opacity: 0.8; }
  100% { opacity: 0; }
}

#damage-overlay {
  background: red;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

.damage-taken #damage-overlay {
  animation: flash 0.2s ease-out;
}

.game-over #damage-overlay {
  background: red;
  opacity: 0.5;
}

button {
  background-color: #4CAF50;
  color: white; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; 
}

input[type="text"] {
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
